################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/SampleApp/bin/Debug
/SampleApp/obj/Debug
/packages/EPPlus.4.0.5
/EpplusHelper/bin/Debug
/EpplusHelper/obj/Debug
/.vs/EpplusHelper/v15/Server/sqlite3
/.vs/EpplusHelper/v15
/.vs/EpplusHelper/DesignTimeBuild
/.vs
/EpplusHelper/obj/Release
/SampleApp/obj/Release
/SampleApp/bin/x64/Debug
/SampleApp/obj
/SampleApp/bin/x86/Debug/SampleApp.pdb
/SampleApp/bin/x86/Debug/SampleApp.exe.config
/SampleApp/bin/x86/Debug/SampleApp.exe
/SampleApp/bin/x86/Debug/EpplusExtensions.pdb
/SampleApp/bin/x86/Debug/EpplusExtensions.dll
/SampleApp/bin/x86/Debug/EPPlus.xml
/SampleApp/bin/x86/Debug/EPPlus.dll
/SampleApp/bin/x86/Debug/模版
/EpplusHelper/bin/Release
/SampleApp/bin/Release
/EPPlusExtensions.Standard/bin/Debug
/EPPlusExtensions.Standard/obj/Debug
/EPPlusExtensions.Standard/obj
/SampleApp.Core/obj
/SampleApp.Core/bin/Debug/netcoreapp2.2
/EPPlusExtensions.Standard/bin/Release
/SampleApp.Core/bin/Release/netcoreapp2.2
/EPPlusHelperTool/bin/Debug
/EPPlusHelperTool/obj/Debug
/EPPlusHelperTool/obj/Release
/packages/EPPlus.4.5.3
/SampleApp/模版/Sample01_2.xlsx
/packages/CaptchaGen.1.0.0/lib/net40
/packages/CaptchaGen.1.0.0
/EPPlusHelperTool/bin/Release
/.vscode
/EPPlusExtensions.Standard/EpplusHelper1.cs
/EpplusHelper.sln.DotSettings.user
/SampleApp/模版/~$Sample02_5.xlsx
/packages/EPPlus.4.5.3.1/lib
/packages/EPPlus.4.5.3.1
